body {
  font-family: Arial, sans-serif;
  background-color: #DDE7F0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.container {
  display: flex;
  width: 1080px;
  height: 720px;  
  background-color: #1A1D42;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.left-panel {
  width: 40%;
  background-color: #1A1D42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -148px;
}

.icon {
  background-color: #A4D492;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: -50px;
}

.icon img {
  width: 800px;
  height: 400px;
  object-fit: contain;
  position: relative;
  left: 143px;
  animation: fadeIn 1.5s ease-in-out;
}

.right-panel {
  width: 60%;
  background-color: #DDE7F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #1A1D42;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 300px;
}

label {
  font-weight: bold;
  color: #1A1D42;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #A4D492;
  border-radius: 5px;
  background-color: #E6F4FF;
}

.remember {
  display: flex;
  align-items: left;
  color: #1A1D42;
  font-size: 14px;
}

#remember {
  text-align: left;
  justify-content: left;
  align-items: left;
  margin: -25px;
  padding: 0;
}

.remember input {
  justify-content: left;  
  align-items: left;
}

.forgot-password {
  display: block;
  text-align: left;
  color: #1A1D42;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  width: 107%;
  padding: 10px;
  background-color: #5A9C6E;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #4A8B5E;
}
